<a href="https://colab.research.google.com/github/jaymalak/ElectricityGenerator/blob/master/MAY2014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Package

In [0]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import pie, axis, show
%matplotlib inline                                                              

import warnings                                                                 # Ignore warning related to pandas_profiling
warnings.filterwarnings('ignore') 
pd.set_option('display.max_columns', 100)                                       # Display all dataframe columns in outputs 
import glob
import io

Loading Data

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Reasonmaster_may14.xls to Reasonmaster_may14.xls

In [0]:
reasonmst = pd.read_excel(io.BytesIO(uploaded['Reasonmaster_may14.xls']))

In [0]:
from google.colab import files
uploaded = files.upload()

Saving technicalminload.xls to technicalminload.xls

In [0]:
techminload = pd.read_excel(io.BytesIO(uploaded['technicalminload.xls']))

In [0]:
reasonmst.head()

,DATE,STATIONAME,REVISION,REASON,TIME
0,1/5/2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39
1,1/5/2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21
2,1/5/2014,CHANDRAPUR,3,"CHANDRAPUR -U3,4 BUNKERING PROB ,U5&7 PCQ U6 R...",2014-05-01 12:03:21
3,1/5/2014,PARAS,4,PARAS -PCQ: BLK 1-96: 460-431 MW,2014-05-01 12:13:05
4,1/5/2014,BHUSAWAL,5,BHUSAWAL -U4 ASH SERIES PROB &U5 PCQ,2014-05-01 12:33:17

In [0]:
techminload.head()

,Station,Unit No.,MCR Capacity,Technical Minimum load for Scheduling,Type,StationName
0,MSPGCL BHUSAWAL,2 *,210,143.89,MSPGCL,BHUSAWAL_U2
1,MSPGCL BHUSAWAL,3,210,143.89,MSPGCL,BHUSAWAL_U3
2,MSPGCL BHUSAWAL,4 #,500,322.00,MSPGCL,BHUSAWAL_U4
3,MSPGCL BHUSAWAL,5 #,500,322.00,MSPGCL,BHUSAWAL_U5
4,MSPGCL CHANDRAPUR,1,210,132.08,MSPGCL,CHANDRAPUR_U1

In [0]:
reasonmst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1622 entries, 0 to 1621
Data columns (total 5 columns):
DATE            1622 non-null object
STATIONAME      1622 non-null object
REVISION NO.    1622 non-null int64
REASON          1622 non-null object
TIME            1622 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 63.5+ KB

In [0]:
techminload.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 6 columns):
Station                                       60 non-null object
Unit No.                                      60 non-null object
MCR Capacity                                  60 non-null int64
Technical Minimum load    for  Scheduling     60 non-null float64
Type                                          60 non-null object
StationName                                   60 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.9+ KB

In [0]:
from google.colab import files
uploaded = files.upload()

Saving MSPGCL_UNT_WISE_01_May_2014_47.xls to MSPGCL_UNT_WISE_01_May_2014_47.xls

In [0]:
may1 = pd.read_excel(io.BytesIO(uploaded['MSPGCL_UNT_WISE_01_May_2014_47.xls']))

In [0]:
may1.head()

,BLOCK NO,KORADI_U1,KORADI_U2,KORADI_U3,KORADI_U4,KORADI_U5,KORADI_U6,KORADI_U7,KORADI,NASIK_U1,NASIK_U2,NASIK_U3,NASIK_U4,NASIK_U5,NASIK,BHUSAWAL_U1,BHUSAWAL_U2,BHUSAWAL_U3,BHUSAWAL_U4,BHUSAWAL_U5,BHUSAWAL,CHANDRAPUR_U1,CHANDRAPUR_U2,CHANDRAPUR_U3,CHANDRAPUR_U4,CHANDRAPUR_U5,CHANDRAPUR_U6,CHANDRAPUR_U7,CHANDRAPUR,PARAS_U2,PARAS_U3,PARAS_U4,PARAS,KHAPERKHEDA_U1,KHAPERKHEDA_U2,KHAPERKHEDA_U3,KHAPERKHEDA_U4,KHAPERKHEDA_U5,KHAPERKHEDA,PARALI_U1,PARALI_U2,PARALI_U3,PARALI_U4,PARALI_U5,PARALI_U6,PARALI_U7,PARALI,MSEDCL_THA,URAN_STG_1,URAN_STG_2,URAN_WHRP,URAN,MSEDCL_GAS,BHIRA,GHATGHAR_1,GHATGHAR_2,GHATGHAR,KOYNA_IV,KOYNA_I_II,KOYNA_STG_1_2_4,KOYNA_III,KOYNA_STG_3,BHATGHAR,BHATSA,KDPH,PAITHAN,PENCH_MS,VEER,YELDARI,OTHER_HY,TILLARI,VAITARNA,MSEDCL_HYD,MSEDCL_SOL,MSEDCL_SOL.1,TOTAL MSPGCL GEN
0,1,0,0,0,0,0,144,144,288,0,0,172.000,172.000,172.000,516.000,0,125,134,338,320,917,137,155,155,155,388,347,365,1702,0,201,230,431,160,158,0,196,376,890,0,0,0,0,151,166,166,483,5227.000,0,295,165,460,460,0,0.0,0.0,0.0,276.28,428.92,705.20,101.873,0,307.32,0,0,0,13.046,0,172.368,492.734,0,0,1197.934,0,0,6884.934
1,2,0,0,0,0,0,144,144,288,0,0,172.000,146.847,172.000,490.847,0,125,134,338,320,917,137,155,155,155,388,347,365,1702,0,201,230,431,160,158,0,196,376,890,0,0,0,0,138,166,166,470,5188.847,0,295,165,460,460,0,0.0,0.0,0.0,275.16,449.56,724.72,155.942,0,323.00,0,0,0,12.294,0,172.101,507.395,0,0,1232.115,0,0,6880.962
2,3,0,0,0,0,0,144,144,288,0,0,172.000,142.000,164.054,478.054,0,125,134,338,320,917,137,155,155,155,388,347,365,1702,0,201,230,431,160,158,0,196,376,890,0,0,0,0,138,166,166,470,5176.054,0,295,165,460,460,0,0.0,0.0,0.0,275.84,449.44,725.28,155.459,0,321.92,0,0,0,12.042,0,128.690,462.652,0,0,1187.932,0,0,6823.986
3,4,0,0,0,0,0,144,144,288,0,0,166.762,142.000,141.000,449.762,0,125,134,338,320,917,137,155,155,155,388,347,365,1702,0,201,230,431,160,158,0,196,376,890,0,0,0,0,138,166,166,470,5147.762,0,295,165,460,460,0,0.0,0.0,0.0,275.64,408.68,684.32,155.016,0,312.20,0,0,0,12.105,0,111.826,436.131,0,0,1120.451,0,0,6728.213
4,5,0,0,0,0,0,144,144,288,0,0,172.000,142.000,167.602,481.602,0,125,134,338,320,917,137,155,155,155,388,347,365,1702,0,201,230,431,160,158,0,196,376,890,0,0,0,0,138,166,166,470,5179.602,0,295,165,460,460,0,0.0,0.0,0.0,266.52,233.20,499.72,155.537,0,344.44,0,0,0,12.836,0,108.628,465.904,0,0,965.624,0,0,6605.226

Two duplicate columns found in May1 DataFrame

In [0]:
from google.colab import files
uploaded = files.upload()

Saving colname.xls to colname.xls

In [0]:
colname = pd.read_excel(io.BytesIO(uploaded['colname.xls']))

In [0]:
colname.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 2 columns):
Sno            75 non-null int64
Column_name    75 non-null object
dtypes: int64(1), object(1)
memory usage: 1.3+ KB

In [0]:
from google.colab import files
import numpy as np
import pandas as pd
import glob

uploaded = files.upload()

##files.upload returns a dictionary of the files which were uploaded. The 
##dictionary is keyed by the file name, the value is the data which was 
##uploaded.
i = 1
all_data = pd.DataFrame()
all_data['mdate'] =[]
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))
  df = pd.read_excel(fn)
  df['mdate'] = i
  i = i + 1
  all_data = all_data.append(df,ignore_index=True)

MessageError: ignored

In [0]:
df.head()

   matchval
0  BLOCK NO
1  NASIK_U3
2  NASIK_U4
3  NASIK_U5
4     NASIK

In [0]:
all_data.head()

NameError: ignored

In [0]:
all_data.info()

NameError: ignored

In [19]:
reason_search = reasonmst[reasonmst['REASON'].str.contains('SLDC',case=False) ] 
reason_search

,DATE,STATIONAME,REVISION,REASON,TIME
0,1/5/2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39
1,1/5/2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21
5,1/5/2014,NASIK,6,NASIK -BACKBOWN BY SLDC BLK 53-58,2014-05-01 12:41:49
6,1/5/2014,CHANDRAPUR,7,CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48,2014-05-01 12:53:00
8,1/5/2014,KHAPERKHEDA,9,KHAPERKHEDA -Khaperkheda U5 BDN BLK36-74 and U...,2014-05-01 21:05:25
...,...,...,...,...,...
1585,31/5/2014,NASIK,2,NASIK -REV BY SLDC: BD WD BLK[9-42],2014-05-31 00:34:21
1586,31/5/2014,KHAPERKHEDA,3,KHAPERKHEDA -REV BY SLDC: BD WD: BLK[27],2014-05-31 00:37:51
1587,31/5/2014,CHANDRAPUR,4,CHANDRAPUR -REV BY SLDC: BD WD : BLK[27],2014-05-31 00:42:00
1591,31/5/2014,TPCL_U5,8,TPCL_U5 -REV BY SLDC: BD WD: BLK[11-33],2014-05-31 03:25:25
1601,31/5/2014,VIPL,18,VIPL -Final implemented sch by SLDC,2014-09-06 12:36:06

In [24]:
scriteria = ['SLDC','BACKDOWN','BDN','BACKBOWN','BD','BACKDN']  
sstring = '|'.join(scriteria)
reason_search =  reasonmst[reasonmst['REASON'].str.upper().str.contains(sstring)]
reason_search

,DATE,STATIONAME,REVISION,REASON,TIME
0,1/5/2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39
1,1/5/2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21
5,1/5/2014,NASIK,6,NASIK -BACKBOWN BY SLDC BLK 53-58,2014-05-01 12:41:49
6,1/5/2014,CHANDRAPUR,7,CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48,2014-05-01 12:53:00
8,1/5/2014,KHAPERKHEDA,9,KHAPERKHEDA -Khaperkheda U5 BDN BLK36-74 and U...,2014-05-01 21:05:25
...,...,...,...,...,...
1588,31/5/2014,INTRASTATE_BILATERAL,5,INTRASTATE_BILATERAL -REV BY SDC: BD WD : VIPL...,2014-05-31 00:49:01
1591,31/5/2014,TPCL_U5,8,TPCL_U5 -REV BY SLDC: BD WD: BLK[11-33],2014-05-31 03:25:25
1594,31/5/2014,NASIK,11,NASIK -NASIK BD WD BLK 67 TO 76,2014-05-31 17:30:35
1595,31/5/2014,INTRASTATE_BILATERAL,12,INTRASTATE_BILATERAL -Intra_State_Bilateral_Sc...,2014-05-31 17:42:07
1601,31/5/2014,VIPL,18,VIPL -Final implemented sch by SLDC,2014-09-06 12:36:06

In [25]:
reasonmst['TYPE']='NONSLDC'
##reasonmst.loc[reasonmst['REASON'].str.contains('SLDC',case=False), 'TYPE'] = 'SLDC'
reasonmst.loc[reasonmst['REASON'].str.upper().str.contains(sstring),'TYPE'] = 'SLDC'
reasonmst

,DATE,STATIONAME,REVISION,REASON,TIME,TYPE
0,1/5/2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39,SLDC
1,1/5/2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21,SLDC
2,1/5/2014,CHANDRAPUR,3,"CHANDRAPUR -U3,4 BUNKERING PROB ,U5&7 PCQ U6 R...",2014-05-01 12:03:21,NONSLDC
3,1/5/2014,PARAS,4,PARAS -PCQ: BLK 1-96: 460-431 MW,2014-05-01 12:13:05,NONSLDC
4,1/5/2014,BHUSAWAL,5,BHUSAWAL -U4 ASH SERIES PROB &U5 PCQ,2014-05-01 12:33:17,NONSLDC
...,...,...,...,...,...,...
1617,31/5/2014,BEST_DEM,34,BEST_DEM -EA,2014-10-22 13:04:25,NONSLDC
1618,31/5/2014,RELD_DEM,35,RELD_DEM -EA,2014-10-22 13:08:29,NONSLDC
1619,31/5/2014,TPCD_DEM,36,TPCD_DEM -EA,2014-10-22 13:14:18,NONSLDC
1620,31/5/2014,MSEDCL_DEM,37,MSEDCL_DEM -EA,2014-10-22 13:18:48,NONSLDC
1621,31/5/2014,MSEDCL_DEM,38,MSEDCL_DEM -EA,2014-10-27 13:33:03,NONSLDC

In [26]:
reasonmst[(reasonmst.TYPE =='SLDC')]

,DATE,STATIONAME,REVISION,REASON,TIME,TYPE
0,1/5/2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39,SLDC
1,1/5/2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21,SLDC
5,1/5/2014,NASIK,6,NASIK -BACKBOWN BY SLDC BLK 53-58,2014-05-01 12:41:49,SLDC
6,1/5/2014,CHANDRAPUR,7,CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48,2014-05-01 12:53:00,SLDC
8,1/5/2014,KHAPERKHEDA,9,KHAPERKHEDA -Khaperkheda U5 BDN BLK36-74 and U...,2014-05-01 21:05:25,SLDC
...,...,...,...,...,...,...
1588,31/5/2014,INTRASTATE_BILATERAL,5,INTRASTATE_BILATERAL -REV BY SDC: BD WD : VIPL...,2014-05-31 00:49:01,SLDC
1591,31/5/2014,TPCL_U5,8,TPCL_U5 -REV BY SLDC: BD WD: BLK[11-33],2014-05-31 03:25:25,SLDC
1594,31/5/2014,NASIK,11,NASIK -NASIK BD WD BLK 67 TO 76,2014-05-31 17:30:35,SLDC
1595,31/5/2014,INTRASTATE_BILATERAL,12,INTRASTATE_BILATERAL -Intra_State_Bilateral_Sc...,2014-05-31 17:42:07,SLDC
1601,31/5/2014,VIPL,18,VIPL -Final implemented sch by SLDC,2014-09-06 12:36:06,SLDC

In [27]:
def trim_all_columns(df):
    """
    Trim whitespace from ends of each value across all series in dataframe
    """
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)


# simple example of trimming whitespace from data elements
reasonmst = trim_all_columns(reasonmst)
reasonmst

,DATE,STATIONAME,REVISION,REASON,TIME,TYPE
0,1/5/2014,INTRASTATE_BILATERAL,1,INTRASTATE_BILATERAL -JSW REV1 AND VIPL U2& DH...,2014-05-01 11:22:39,SLDC
1,1/5/2014,REL_THERMAL,2,REL_THERMAL -FOR SMOOTHENING BY SLDC,2014-05-01 11:33:21,SLDC
2,1/5/2014,CHANDRAPUR,3,"CHANDRAPUR -U3,4 BUNKERING PROB ,U5&7 PCQ U6 R...",2014-05-01 12:03:21,NONSLDC
3,1/5/2014,PARAS,4,PARAS -PCQ: BLK 1-96: 460-431 MW,2014-05-01 12:13:05,NONSLDC
4,1/5/2014,BHUSAWAL,5,BHUSAWAL -U4 ASH SERIES PROB &U5 PCQ,2014-05-01 12:33:17,NONSLDC
...,...,...,...,...,...,...
1617,31/5/2014,BEST_DEM,34,BEST_DEM -EA,2014-10-22 13:04:25,NONSLDC
1618,31/5/2014,RELD_DEM,35,RELD_DEM -EA,2014-10-22 13:08:29,NONSLDC
1619,31/5/2014,TPCD_DEM,36,TPCD_DEM -EA,2014-10-22 13:14:18,NONSLDC
1620,31/5/2014,MSEDCL_DEM,37,MSEDCL_DEM -EA,2014-10-22 13:18:48,NONSLDC
1621,31/5/2014,MSEDCL_DEM,38,MSEDCL_DEM -EA,2014-10-27 13:33:03,NONSLDC

#Search Columns which have more than one Unique Values

In [28]:
col_with_moreval=[]
for col in may1.columns:
   ## if may1[col].dtype =='O':
        if len(may1[col].unique()) >1:
           col_with_moreval.append(may1[col].name)
           
        else:
            continue
col_with_moreval
df=pd.DataFrame(col_with_moreval,columns=['matchval'])     ##Convert List to DataFrame
df

            matchval
0           BLOCK NO
1           NASIK_U3
2           NASIK_U4
3           NASIK_U5
4              NASIK
5        BHUSAWAL_U4
6        BHUSAWAL_U5
7           BHUSAWAL
8      CHANDRAPUR_U1
9      CHANDRAPUR_U2
10     CHANDRAPUR_U3
11     CHANDRAPUR_U4
12     CHANDRAPUR_U5
13     CHANDRAPUR_U6
14     CHANDRAPUR_U7
15        CHANDRAPUR
16          PARAS_U3
17          PARAS_U4
18             PARAS
19    KHAPERKHEDA_U1
20    KHAPERKHEDA_U2
21    KHAPERKHEDA_U4
22    KHAPERKHEDA_U5
23       KHAPERKHEDA
24         PARALI_U5
25         PARALI_U6
26         PARALI_U7
27            PARALI
28        MSEDCL_THA
29        URAN_STG_2
30         URAN_WHRP
31              URAN
32        MSEDCL_GAS
33        GHATGHAR_1
34        GHATGHAR_2
35          GHATGHAR
36          KOYNA_IV
37        KOYNA_I_II
38   KOYNA_STG_1_2_4
39         KOYNA_III
40          BHATGHAR
41          PENCH_MS
42           YELDARI
43          OTHER_HY
44        MSEDCL_HYD
45  TOTAL MSPGCL GEN

In [29]:
station_merge = pd.merge(reasonmst, df, how='inner', left_on='STATIONAME', right_on='matchval')
station_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 633 entries, 0 to 632
Data columns (total 7 columns):
DATE          633 non-null object
STATIONAME    633 non-null object
REVISION      633 non-null int64
REASON        633 non-null object
TIME          633 non-null datetime64[ns]
TYPE          633 non-null object
matchval      633 non-null object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 39.6+ KB

In [0]:
station_merge["DATE"]= pd.to_datetime(station_merge["DATE"]) 
##station_merge["DATE"] = station_merge["DATE"].astype('datetime64[ns]')

In [34]:
station_merge[(station_merge.TYPE =='SLDC') & (station_merge.DATE == '01/05/2014')]

,DATE,STATIONAME,REVISION,REASON,TIME,TYPE,matchval
1,2014-01-05,CHANDRAPUR,7,CHANDRAPUR -BACKDOWN BY SLDC BLK 36-48,2014-05-01 12:53:00,SLDC,CHANDRAPUR
3,2014-01-05,CHANDRAPUR,22,CHANDRAPUR -Rev 3 blk 67 to 96 ICQ and BD by S...,2014-08-20 16:53:19,SLDC,CHANDRAPUR
99,2014-01-05,PARAS,26,PARAS -back down by SLDC BLK 67 TO 89,2014-08-21 16:04:46,SLDC,PARAS
165,2014-01-05,BHUSAWAL,23,BHUSAWAL -BDN BLK 36 to 90,2014-08-20 17:11:21,SLDC,BHUSAWAL
166,2014-01-05,BHUSAWAL,25,BHUSAWAL -CORRECTED BY SLDC,2014-08-21 15:52:22,SLDC,BHUSAWAL
257,2014-01-05,NASIK,6,NASIK -BACKBOWN BY SLDC BLK 53-58,2014-05-01 12:41:49,SLDC,NASIK
339,2014-01-05,KHAPERKHEDA,9,KHAPERKHEDA -Khaperkheda U5 BDN BLK36-74 and U...,2014-05-01 21:05:25,SLDC,KHAPERKHEDA
340,2014-01-05,KHAPERKHEDA,24,KHAPERKHEDA -U1 TO 5 BDN EXTENDED UPTO BLK 89,2014-08-21 15:19:37,SLDC,KHAPERKHEDA
447,2014-01-05,PARALI,11,PARALI -PARALI BD WDN BLK 46-85 BY SLDC,2014-05-01 21:29:08,SLDC,PARALI

In [38]:
may1.columns[1]

'KORADI_U1'